# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# vim swp file
*.swp

libevent++/msvc/Debug/
libevent++/msvc/Release/
libevent++/msvc/bin/
libevent++/msvc/libevent++.opensdf
libevent++/msvc/libevent++.sdf

unixstudycode.tar.gz
*.out

ind/inspector_test
ind/pingpong_server

