
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
build

01-helloworld/ALL_BUILD.vcxproj
01-helloworld/ALL_BUILD.vcxproj.filters
01-helloworld/Debug/
01-helloworld/HELLO.VC.VC.opendb
01-helloworld/HELLO.VC.db
01-helloworld/HELLO.sln
01-helloworld/Win32/
01-helloworld/ZERO_CHECK.vcxproj
01-helloworld/ZERO_CHECK.vcxproj.filters
01-helloworld/hello.dir/
01-helloworld/hello.vcxproj
01-helloworld/hello.vcxproj.filters
03-helloworld-library/ALL_BUILD.vcxproj
03-helloworld-library/ALL_BUILD.vcxproj.filters
03-helloworld-library/HELLO.VC.VC.opendb
03-helloworld-library/HELLO.VC.db
03-helloworld-library/HELLO.sln
03-helloworld-library/Win32/
03-helloworld-library/ZERO_CHECK.vcxproj
03-helloworld-library/ZERO_CHECK.vcxproj.filters
03-helloworld-library/bin/
03-helloworld-library/lib/Debug/
03-helloworld-library/lib/hello.dir/
03-helloworld-library/lib/hello.vcxproj
03-helloworld-library/lib/hello.vcxproj.filters
03-helloworld-library/lib/hello_static.dir/
03-helloworld-library/lib/hello_static.vcxproj
03-helloworld-library/lib/hello_static.vcxproj.filters

